footer.footer
  .footer-container
    .footer-row
      .footer-col
        h4 company
        ul
          li
            a(href='#') about us
          li
            a(href='#') our services
          li
            a(href='#') privacy policy
          li
            a(href='#') affiliate program
      .footer-col
        h4 get help
        ul
          li
            a(href='#') FAQ
          li
            a(href='#') shipping
          li
            a(href='#') returns
          li
            a(href='#') order status
          li
            a(href='#') payment options
      .footer-col
        h4 online shop
        ul
          li
            a(href='#') watch
          li
            a(href='#') bag
          li
            a(href='#') shoes
          li
            a(href='#') dress
      .footer-col
        h4 follow us
        .social-links
          a(href='#')
            i.fab.fa-facebook-f
          a(href='#')
            i.fab.fa-twitter
          a(href='#')
            i.fab.fa-instagram
          a(href='#')
            i.fab.fa-linkedin-in