header.header
  nav.header-nav.container-header.flex-container
    h1.logo
      a.logo-link(href='/products') Shop
    ul.header-menu.flex-container
      li
        a.header-menu-link(href='/products') Trang chủ
      li
        a.header-menu-link(href='/products') Sản phẩm
      li
        a.header-menu-link(href='/products') Webinars
      li
        a.header-menu-link(href='/products') Blog
    button(type="button" class="btn btn-outline-primary") Login