.body {
    display: flex;
    height: 900px;
}
.header  {
    background: yellow;
}
.inner-logo {
    padding: 20px;
}

.sider {
    width: 250px;
    height: 100%;
    display: block;
    background-color: rgb(250, 215, 215);
}

.main {
    width: 100%;
}
.inner-menu ul{
    list-style: none;
    padding: 0;
    flex: 1;
}

.inner-menu ul li {
    flex: 1;
    border: 1px solid #333;
    margin-bottom: 5px;
}

.inner-menu ul li a{
    color: whi;
    text-decoration: none;

}

[show-alert] {
    position: fixed;
    right: 0;
    top: 68px;
    z-index: 1;
}
[show-alert].hidden {
    display: none;
}

.button-close {
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
    border: 0;
    font-weight: 600;
}

.img-thumbnail[src = ''] {
    display: none;
}

.img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}