mixin form-change-multi(path)
  form(
    action = path
    method = 'POST'
    form-change-multi
  )
    .d-flex.align-items-start
      .form-group
        select(name = 'type' class='form-control')  
          option(disabled selected) --Chọn hành động--
          option(value="active") Hoạt động 
          option(value="inactive") Dừng hoạt động 
          option(value="delete") Xóa sản phẩm
          option(value="change-position") Thay đổi vị trí
      .form-group   
        input.d-none(
          type="text"
          name="ids"
          class="form-control"
          value = ""
        )
      button(type = 'submit' class='btn btn-primary') Áp dụng