mixin search(keyword)
  form.w-100(id="form-search") 
    .input-group
      input(type="text" class="form-control" placeholder="Nhập tìm kiếm" name="keyword" value=keyword)
      button(class="btn btn-success" type="submit") Tìm kiếm